body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2C3E50;
    color: #ECF0F1;
}

header {
    background-color: #2C3E50;
    color: #F39C12;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

button {
    background-color: #C0392B;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #A93226;
    transform: scale(1.05);
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#audioControls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#audioControls button {
    background-color: #C0392B;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#audioControls button:hover {
    background-color: #A93226;
}

#resultChart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
